 fix the rfc3066bis page

Opened by @aphillips via IRC channel #i18n on irc.w3.org

Due: 2024-04-25 (Thursday 25 April)


https://www.w3.org/International/core/langtags/rfc3066bis.html

Apologies for missing the call, but, although I would have organized that page differently, I'm having trouble figuring out what the problem is that needs fixing.    If I did know, I could probably help.  In particular:
(1) The current registry is, as indicated, at http://www.iana.org/assignments/language-subtag-registry (or https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry, but it redirects.  Now, that registry is specified by/ attributed to RFC 5646, not 4646, which it obsoleted   That (new)  registry listing also violates IANA norms, norms that 5646 does not, AFAICT, even try to override.    Compare the information available it its now-obsolete cousin https://www.iana.org/assignments/language-tags/language-tags.xhtml#language-tags-1
(2) RFC 4646 should not be referenced at all now, except, perhaps, as an historical note
(3) Because of the introduction of RFC 5646, BCP 47 now consists of RFC 4647 and 5646.   I have no idea what the note at the bottom, which seems to imply a future action, is supposed to mean except that the "actually points to RFC 4646" is false.   The link at the bottom, ftp://ftp.isi.edu/in-notes/bcp/bcp47.txt, probably still works except several "modern" browsers have decided to improve in the idea of a fully accessible Internet by dropping support for FTP and assuming that the same locations should be able to be accessed via HTTP and/or HTTPS.  That assumption, at least in my experience, rarely works if only because the targets are usually not HTML or equivalent pages designed for web use.    A better reference today would be https://www.rfc-editor.org/info/bcp47

So, what is the problem that needs fixing other than that it may not be a good idea for W3C documents to try to explain IETF documents, registries, and terminology?  Does the above supply sufficient information to fix whatever the problem is?   Should I start a complaint about the format that is displayed at https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry and, if not, why not?

We having fun yet?

Sorry forgot one: The IETF LTRU WG was shut down at the end of November 2009 and hence cannot be responsible for anything at all.

With the understanding that I do not know what motivated this issue/task, a tentative recommendation: don't try to fix this page.  Get rid of it and replace it with something that points directly to the BCP 47 definition (see above) and the registry, pointing to RFC 5646 if needed. 

@klensin This page is super-duper old (probably pre-dating 4646, hence the name) and what we discussed yesterday was permanently redirecting it to our article about BCP47, the LTLI spec, or to BCP47 itself--not trying to update the text in any way.

Addison,

Any of those options would be perfectly reasonable.
thanks,
   john


--On Friday, April 19, 2024 14:14 -0700 Addison Phillips
***@***.***> wrote:

> @klensin This page is super-duper old (probably pre-dating 4646,
> hence the name) and what we discussed yesterday was permanently
> redirecting it to our article about BCP47, the LTLI spec, or to
> BCP47 itself--not trying to update the text in any way.




Closed by @aphillips via IRC channel #i18n on irc.w3.org

> Mở bởi[@aphillips](https://github.com/aphillips)qua kênh IRC #i18n trên irc.w3.org
> 
> Ngày nộp: 2024-04-25 (Thứ năm ngày 25 tháng 4)

https://github.com/w3c/i18n-actions/issues/92#issue-2250859166
rfc3066bis #9 #150 #143 #147 #154 #156 #92  
#9 

> Xin lỗi vì đã bỏ lỡ cuộc gọi, nhưng mặc dù tôi đã sắp xếp trang đó theo cách khác, tôi vẫn gặp khó khăn trong việc tìm ra vấn đề cần khắc phục. Nếu tôi biết, có lẽ tôi có thể giúp được. Cụ thể: (1) Sổ đăng ký hiện tại, như đã chỉ ra, nằm tại http://www.iana.org/assignments/language-subtag-registry (hoặc https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry , nhưng nó chuyển hướng. Bây giờ, sổ đăng ký đó được chỉ định bởi/được gán cho RFC 5646, không phải 4646, mà nó đã lỗi thời. Danh sách sổ đăng ký (mới) đó cũng vi phạm các chuẩn mực của IANA, các chuẩn mực mà 5646, AFAICT, thậm chí không cố gắng ghi đè. So sánh thông tin có sẵn với người anh em họ hiện đã lỗi thời của nó https://www.iana.org/assignments/language-tags/language-tags.xhtml#language-tags-1 (2) RFC 4646 không nên được tham chiếu ở bất kỳ thời điểm nào hiện tại, ngoại trừ, có lẽ, như một ghi chú lịch sử (3) Do sự ra đời của RFC 5646, BCP 47 hiện bao gồm RFC 4647 và 5646. Tôi không biết ghi chú là gì ở cuối, có vẻ như ám chỉ một hành động trong tương lai, được cho là có nghĩa là ngoại trừ "thực sự trỏ đến RFC 4646" là sai. Liên kết ở cuối, ftp://ftp.isi.edu/in-notes/bcp/bcp47.txt, có lẽ vẫn hoạt động ngoại trừ một số trình duyệt "hiện đại" đã quyết định cải thiện ý tưởng về một Internet có thể truy cập hoàn toàn bằng cách ngừng hỗ trợ FTP và cho rằng các vị trí tương tự có thể được truy cập qua HTTP và/hoặc HTTPS. Giả định đó, ít nhất là theo kinh nghiệm của tôi, hiếm khi hiệu quả nếu chỉ vì các mục tiêu thường không phải là HTML hoặc các trang tương đương được thiết kế để sử dụng trên web. Một tài liệu tham khảo tốt hơn hiện nay sẽ là https://www.rfc-editor.org/info/bcp47
> 
> Vậy, vấn đề cần khắc phục là gì ngoài việc có thể không phải là ý tưởng hay khi các tài liệu W3C cố gắng giải thích các tài liệu, sổ đăng ký và thuật ngữ của IETF? Những thông tin trên có cung cấp đủ thông tin để khắc phục bất kỳ vấn đề nào không? Tôi có nên bắt đầu khiếu nại về định dạng được hiển thị tại https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry không và nếu không thì tại sao không?
> 
> Chúng ta vui vẻ chưa?

https://github.com/w3c/i18n-actions/issues/92#issuecomment-2067180936
rfc3066bis #92

> Addison, Bất kỳ lựa chọn nào trong số đó đều hoàn toàn hợp lý. Cảm ơn, John
> […](#)

https://github.com/w3c/i18n-actions/issues/92#issuecomment-2067314890
rfc3066bis #92
Nhảy xuống dưới cùng
